node_modules
.env
.DS_Store

# Expo client
client/node_modules/**/*
client/.expo/*
client/npm-debug.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision
client/*.orig.*
client/web-build/
client/.DS_Store
